---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "MySQL"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

The `{{.Name}}` resource is used to provision MySQL users on an AWS RDS cluster (Aurora V1) via the [Amazon RDS data service](https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/data-api.html) endpoint.

## Example Usage

{{ tffile (printf "examples/resources/%s/resource.tf" .Name)}}

{{ .SchemaMarkdown | trimspace }}
