---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "MySQL"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

The `{{.Name}}` resource is used to grant or revoke MySQL privileges for users created using the `{{.ProviderShortName}}_mysql_user` resource.

## Example Usage

{{ tffile (printf "examples/resources/%s/resource.tf" .Name)}}

{{ .SchemaMarkdown | trimspace }}
