---
page_title: "Provider: AWSRDSDATA"
description: |-
  A Terraform provider that uses the Amazon RDS data service to provision SQL users and grant privileges (only MySQL is supported for now).
---

# {{ .ProviderShortName | upper }} Provider

The **{{ .ProviderShortName | upper }}** provider provides utilities for working with users and privileges on MySQL clusters (Aurora V1) 
via the [RDS data service](https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/data-api.html) API.
It provides resources that allow MySQL users and privileges to be created as part of a Terraform deployment.

**Important Note:**

Make sure to **enable the HTTP endpoint** for the RDS data service (e.g. set **`enable_http_endpoint`** to **`true`** for the **`aws_rds_cluster`** resource).

Use the navigation to the left to read about the available resources.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
